html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #EECDA3;
    background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);
    background: linear-gradient(to right, #EF629F, #EECDA3);

    font-family: "Century Gothic", sans-serif;
    line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

header {
    /* background-color: burlywood; */
    margin: 20px 0 40px 0;
}

.container {
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 20px;
}

.top-panel {
    display: flex;
    justify-content: space-between;

}

.top-panel h1 {
    color: black;
    font-size: 35px;
    letter-spacing: -4px;
    font-weight: 600;
    font-family: 'Comfortaa', cursive;
    /* font-family: 'Montserrat', sans-serif;
    font-weight: 500; */
}

.top-panel ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.top-panel ul a {
    margin-left: 30px;
    text-decoration: none;
    color: #000;
}

.top-panel ul a:hover {
    text-decoration: underline;
}

.center-panel {
    /* background-color: wheat; */
    width: 100%;
}


.birds_quiz {
    width: 100%;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.01) 0px 10px 34px 0px inset,
        rgba(0, 0, 0, 0.05) 0px 3px 26px 0px inset,
        rgba(0, 0, 0, 0.04) 0px 10px 40px 0px inset,
        rgba(0, 0, 0, 0.2) 0px 0px 1px,
        rgba(0, 0, 0, 0.01) 0px 4px 2px,
        rgba(0, 0, 0, 0) 0px -2px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px,
        rgba(0, 0, 0, 0.09) 0px 8px 16px;
    border-radius: 4px;
    margin-bottom: 30px;
}

/* QUETION_BLOCK */

.question_content {
    margin-left: 70px;
    width: 100%;
    margin-top: 20px;
}

.question_img {
    width: auto;
    height: 160px;
    border-radius: 10px;
}

.question_content h2 {
    font-size: 18px;

}

.question_block {
    padding: 15px;
    display: flex;
}

.question_block audio {
    height: auto;
    width: 99%;

}

.question_block hr {
    margin-top: 30px;
    margin-bottom: 15px;
    background-color: #000;
    height: 1.2px;
    border: none
}

/* BIRDS_QUIZ */

.birds_quiz_content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.birds_quiz_answers,
.birds_quiz_description {
    width: 48%;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.01) 0px 10px 34px 0px inset,
        rgba(0, 0, 0, 0.05) 0px 3px 26px 0px inset,
        rgba(0, 0, 0, 0.04) 0px 10px 40px 0px inset,
        rgba(0, 0, 0, 0.2) 0px 0px 1px,
        rgba(0, 0, 0, 0.01) 0px 4px 2px,
        rgba(0, 0, 0, 0) 0px -2px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px,
        rgba(0, 0, 0, 0.09) 0px 8px 16px;
    border-radius: 4px;
}

.birds_quiz_answers ul {
    margin: 0;
}

.birds_quiz_answers ul li {
    height: 50px;
    font-size: 18px;
    list-style-type: none;
    cursor: pointer;

}
 .bird_name {
    display: flex;
    padding-top: 16px;
    align-items: center;
}

 .circle_answer {

    height: 10px;
    width: 10px;
    margin-right: 15px;
    border-radius: 50%;
    border: 1px solid #000;
}




/*BIRDS_DESCRIPTION*/


.bird_description_inner {
    padding: 15px;

}

.bird_description_inner .bird_item {
    display: flex;
    margin-bottom: 15px;

}

.bird_description_info {
    margin-left: 10px;
}

.bird_description_info h4 {
    font-style: 18px;
    /* margin-bottom: 20px; */
}

.bird_description_info hr {
    margin-bottom: 10px;
}

.bird_description_info audio {
    height: auto;
    width: 99%;
    margin-top: 50px;
}

.bird_description_img {
    height: 160px;
    width: auto;
    border-radius: 10px;
}

.bird_description_inner hr {
    width: 100%;
    background-color: #000;
    height: 1px;
    border: none;
}

.bird_description_text {
    font-size: 18px;
    font-weight: 500;
}

/*BUTTON_NEXT_LEVEL*/


.birds_quiz_nextLevel {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.01) 0px 10px 34px 0px inset,
        rgba(0, 0, 0, 0.05) 0px 3px 26px 0px inset,
        rgba(0, 0, 0, 0.04) 0px 10px 40px 0px inset,
        rgba(0, 0, 0, 0.2) 0px 0px 1px,
        rgba(0, 0, 0, 0.01) 0px 4px 2px,
        rgba(0, 0, 0, 0) 0px -2px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px,
        rgba(0, 0, 0, 0.09) 0px 8px 16px;
    border-radius: 4px;
    color: #EECDA3;
    cursor: pointer;
}

.birdsData {
    display: none;
}



/*FOOTER*/

.hr {
    height: 2px;
    width: 100%;
    background-color: #000;
    margin-top: 50px;
    opacity: 0.2;
    border-radius: 2px;
}

.footer_content {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    height: 30px;
}

.footer_content a {
    font-size: 14px;
    text-decoration: none;
    color: black;
    margin-left: 30px;
    font-weight: 600;
}

.footer_content a:hover {
    text-decoration: underline;
}