<style>
h1 {
    color: white;
    background-color: rgb(66, 111, 66);
    width: 50%;
    text-align: center;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
</style>